<%- include("partials/header") -%>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li>Clothes Recycling</li>
        </ol>
        <h2>Know about Clothes Recycling</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-8">

          <div class="col-sm-4">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/info/info-2.jpeg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/info/info-5.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/info/info-6.jpeg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-sm-8">
            <div class="portfolio-info">
              <h3>
                <center>What is Clothing Recycling</center>
              </h3>
              <p>Clothing recycling is part of textile recycling. It involves recovering old clothing and shoes for
                sorting and processing to eventually create clothing suitable for reuse, cloth scraps, rags, or other
                repurposed fibrous materials. To successfully recycle-textiles, the materials must be collected and
                sorted before being processed for reuse.

                <br><br>The complete clothing/textile recycling process can be summarized with the following steps:<br>
                <br>

              <ol>

                <li>Collected clothing items are sorted into synthetic plastics or cotton (or other biodegradable
                  material) and sent to different destinations.<br>

                <li>The biodegradable cloth is torn into fibers and combined with other fibers before being cleaned and
                  spun.</li>
                <li>For synthetic plastics, the zippers and buttons are removed before the clothing is cut into smaller
                  pieces. The shredded fabrics are granulated and shaped into pellets.</li>
                <br>
                <li>Here’s a summary of the process used by martexfiber:<br></li>

              </ol>
              <img src="assets/img/info/info-7.jpeg" alt="" width="500px">
              <hr>
              <h3>
                <center> Why Opensource Clothing Recycling</center>
              </h3>
              We are facing an unprecedented need for clothing recycling because of the global population increase and
              the rise of rapid consumption and fast fashion. These trends are causing more and more clothing items to
              be discarded. As an example, data from the United States EPA showed around 16 million tons of textile
              municipal solid waste was generated just in 2015. All of this waste ends up in landfills, where it can
              take many years to decompose and can release carbon dioxide and other harmful gases into the atmosphere.
              Other synthetic textiles do not decompose at all, releasing harmful chemicals into the soil and
              groundwater.
              <br>
              An open source solution for communities can assist in addressing this serious issue. Through more
              effective, environmentally-friendly solutions, we can reduce the amount of clothing that is going to waste
              and ending up in landfills. The more communities implement solutions, the more people can actively
              participate in recycling their clothing. People-driven solutions like this are globally applicable,
              cost-effective, and can be profitable too.

              </p>

            </div>
            <!-- <div class="portfolio-description">
              <h2>This is an example of portfolio detail</h2>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div> -->
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <%- include("partials/footer") -%>