<%- include("partials/header") -%>


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li>EcoKaari</li>
        </ol>
        <h2>Know about EcoKaari</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-8">

          <div class="col-sm-4">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/info/info-1.jpeg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/info/info-4.jpeg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/info/info-5.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-sm-8">
            <div class="portfolio-info">
              <h3>Upcycling Story</h3>
              <p>EcoKaari is a social enterprise born from an ardent desire of the team to create a community where
                bottom-up development is the key to achieving better living for all beings in a sustainable way.
                <br>
                <br>‘Eco’ means Eco-friendly, and ‘Kaari’ means Kaarigar (Artisan). Our name represents the relationship
                between the Artisans and Environment, and they both are interconnected and interdependent. India’s
                handicraft heritage has continually drawn inspiration from the environment, and Mother Earth has always
                been an integral part of our lives. Traditionally, our craft techniques have always believed in
                upcycling, material optimisation, and waste minimisation for many millennia ago.
                <br>
                <br>EcoKaari UPCYCLES waste plastic into beautiful handcrafted fabrics using Charkha (spindle) and
                Handloom. These fabrics are HANDWOVEN by women and youth who belong to humble backgrounds. We aim to
                innovate and present sustainable alternatives by pairing traditional Indian crafts with our
                UPCYCLED-HANDWOVEN fabrics with contemporary designs.
                <hr>
                <br><br>When we handcraft our eko products, we do so in a way that cares and respects the values of our
                people, our planet and our communities.<br>
                <br>
                Our 3 pillars of sustainable development are:<br><br>
              <ol>

                <li><b>Our Planet:</b> Climate change and its effects continue to be one of our generation's most
                  significant challenges. Ethical and sustainable practices are a responsibility we take seriously at
                  EcoKaari.<br>
                  <ul>
                    <li>We procure waste plastic from the organisation that collects waste on a large scale and from
                      conscious consumers who donate their household waste plastic. In addition, if we receive any
                      plastic donation that we cannot use, it is donated to another organisation that turns plastic into
                      fuel.</li>
                    <li>We use biodegradable cleaner to clean our plastic, and the water usage is managed carefully so
                      that no wastage occurs.</li>
                    <li>Wastage of EcoKaari's Upcycled-Handcrafted fabric is either repurposed in other products or is
                      donated to another organisation that turns plastic into fuel.
                    <li>
                    <li>Wastage of cotton fabric, which is used as the inside lining of the products, is repurposed by
                      stitching them together to create sustainable packaging for parcels.</li>
                    <li><b>'Closing the loop'</b> philosophy is essential to us. We increase the product's life cycle by
                      repairing the products (free of cost - lifetime). We also take back the products from consumers
                      once it's at the end of their lifecycle to repurpose them or responsibly dispose of them.</li><br>
                  </ul>
                </li>
                <li><b>Our People:</b> EcoKaari's team is an amalgamation of untold stories, backgrounds and
                  perspectives; everyone plays an integral part in creating the organisation we believe in and want to
                  belong to! We are devoted to empowering people and communities and focus on improving their mental
                  well-being and expanding their access to economic opportunities to become self-reliant.</li>
                <li><b>Our Communities:</b> We are committed to giving back to the communities where our weavers and
                  artisans live and work to bring a meaningful positive change through our empowerment programs. Our
                  Mission is to encourage individuals from less privileged backgrounds to learn and acquire new skills,
                  giving them the opportunity to earn by their initiative. It's time we connect back with our roots and
                  create a larger canvas for all the beautiful and supreme creativity that our artisans of India have
                  for generations.</li>
                <br>
                We want you to love and use EcoKaari's products not because they fit your lifestyle but because they fit
                your values!
              </ol>
              </p>

            </div>
            <!-- <div class="portfolio-description">
              <h2>This is an example of portfolio detail</h2>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div> -->
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->


  <%- include("partials/footer") -%>