<%- include("partials/header") -%>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li>EcoKaari</li>
        </ol>
        <h2>Know about EcoKaari</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-8">

          <div class="col-sm-4">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/info/info-3.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/info/info-8.jpeg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/info/info-9.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-sm-8">
            <div class="portfolio-info">
              <h3>Significance of Sustainability</h3>
              <p>Recent globalization has led to a greater number of people migrating to cities in search of better
                opportunities. This has led to a continuous surge in demand for natural resources like fossil fuels,
                wood, metals and cotton. Continuous and unchecked usage of these resources has led to their rapid
                depletion. Another major problem is an increase in piles of waste generated as byproducts in
                manufacturing processes. Solid waste disposal has become a serious problem in urban cities across the
                world, thereby pushing mankind towards sustainable initiatives. Sustainability implies meeting our
                current needs judiciously, and also keeping in mind the needs and demands of future generations, to
                achieve a balance between the two.
                <br><br>
                <br><b>Pillars Of Sustainability</b><br><br>
                Sustainability is made up of three pillars — environment, economy and society. These three pillars also
                are informally called profit, people, and the planet. Each pillar plays a major role in categorizing the
                type of initiative taken by the corporations and brands. In recent times, it has become one of the major
                areas of concern because of the rapid increase in consumer awareness and availability of mass
                information online.
                <br>

              <ol>

                <li><b>Environmental Sustainability</b><br><br> Environmental sustainability implies that natural
                  resources within the earth’s environment are consumed by humans at a rate where they are able to
                  replenish themselves. The environmental pillar often gets the most attention. Manufacturing industries
                  and brands are constantly focusing on reducing their carbon footprints, packaging waste, water usage,
                  and their overall effect on the environment. Corporations have discovered that these sustainable
                  initiates also have a positive financial impact. For example, reducing the amount of material used in
                  packaging usually reduces the overall expenditure on those materials.<br></li><br>

                <li><b>Economic Sustainability</b><br><br> This pillar ensures that economic systems are intact and
                  activities such as secure sources of livelihood are available to everyone across the globe. Also,
                  people are able to maintain their independence and have access to the resources that they require to
                  meet their daily needs.<br></li><br>
                <li><b>Social Sustainability</b><br><br> Social sustainability takes into account that healthy
                  communities have just leaders who treat everyone with equality and ensure labor, cultural and personal
                  rights are respected. People are protected from discrimination. Universal human rights and basic
                  necessities are attainable by all.</li><br>
                <br>
              </ol>
              <b>Why Sustainability Is Imperative</b><br><br>It is unrealistic to create a list of reasons why so many
              individuals, groups, and communities are working towards sustainability, because the motivations behind
              sustainability are often complex, personal, and diverse. Yet, for most people, sustainability boils down
              to the kind of future we are leaving for the next generation. Sustainability as a value is shared by many
              individuals and organizations who demonstrate this value in their policies, everyday activities and
              behaviors. These policies and activities play a vital role in deciding consumer choice. Common individuals
              also play a major role in developing current environmental and social circumstances by choosing greener
              alternatives.
              We want you to love and use EcoKaari's products not because they fit your lifestyle but because they fit
              your values!
              <hr>
              <br><br><b>Solution: Circular Economy</b><br><br>
              <img src="assets/img/info/info-10.jpeg" alt="">
              <br>
              A circular economy or circularity is a production and consumption model. It involves sharing, leasing,
              reusing, repairing, refurbishing, and recycling existing materials and products for as long as possible.
              This aims to tackling global challenges like climate change, biodiversity loss, and waste generation. A
              circular economy is unlike a linear economy in which there is no recycling or reusing.<br><br>
              On World Cotton Day last October, PacSun announced its involvement with Cotton Incorporated’s Blue Jeans
              Go Green program to launch the “PacDenim for Good” initiative.<br><br>
              “As a brand dedicated to inspiring positive development with fashion, we firmly believe that small changes
              today will result in a better tomorrow,” said Brie Olson, PacSun president. “We are excited to introduce
              PacDenim for Good as a continuation of our journey to a more sustainable future.”<br><br>
              More than 2 out of 5 consumers — 43 percent — say they donate their old jeans they no longer plan to wear,
              according to the 2020 Cotton Incorporated’s Lifestyle Monitor™ Survey. That’s followed by 18 percent of
              consumers who plan to give them away, 12 percent who intend to throw them away, and 9 percent who expect
              to reuse them in a different way, such as for cleaning rags or craft projects.<br>
              </p>

            </div>
            <!-- <div class="portfolio-description">
              <h2>This is an example of portfolio detail</h2>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div> -->
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->


  <%- include("partials/footer") -%>